.article-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 20px;
}

.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.back-arrow {
    font-size: 20px;
}

.update-article-button {
    box-sizing: border-box;
    padding: 10px 20px;
    background-color: var(--department-button-color-primary);
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    border-radius: 5px;
}

.update-article-button:hover {
    background-color: var(--department-button-color-hover);
}

.article-content {
    width: 100%;
    margin-top: 20px;
}

.article-heading {
    color: #565353;
    font-weight: 900;
    font-size: 50px;
}

.article-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.article-body {
    width: 95%;
    box-sizing: border-box;
    padding: 20px;
    margin: 0px auto;
}

.article-meta-data {
    margin: 5px 0px;
}

.article-meta-data div {
    font-size: 20px;
}

.department {
    color: #393737;
    font-weight: 600;
}

.publish-date {
    margin-top: 5px;
    color: #1e1e1e;
    font-weight: 500;
    font-style: italic;
}

.media-container {
    width: 100%;
    max-width: 700px; 
    margin: 0 auto; 
}


.media-item-video,
.media-item-image {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    padding: 0px 10px;
}

.media-file-video,
.media-file-image {
    max-width: 100%;
    height: auto;
}


@media (max-width: 767px) {
    .article-container {
        padding: 10px;
    }
  
    .article-heading {
        font-size: 30px;
    }
  
    .article-meta-data div {
        font-size: 16px;
    }
  
    .article-body {
        padding: 10px;
    }
  
    .media-container {
        max-width: 100%; /* Ensure the media container does not overflow */
    }
  
    .media-item-video,
    .media-item-image {
        height: 200px; /* Adjust the height as needed */
    }
}
  
@media (max-width: 479px) {
.article-container{
    padding: 5px;
}

.media-container{
    max-width: 400px;
    width: 90%;
    box-sizing: border-box;
}

    .article-heading {
        font-size: 24px;
    }
  
    .article-meta-data div {
        font-size: 14px;
    }
  
    .media-item-video,
    .media-item-image {
        height: 150px; /* Adjust the height as needed */
    }
}
