.main-content{
    margin: 20px 5px;
    padding: 5px;
    box-sizing: border-box;
  }

  .aim{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 20px;
  }

  .aim h3{
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 900;
  }
  .aim div{
    font-size: 20px;
    font-weight: 500;
  }

  @media (max-width: 600px) {
    .btns button {
      font-size: 14px; 
      padding: 4px 8px;
    }
    .heading{
        font-size: 20px;
    }
  }

  @media (max-width: 500px){
    .aim h3{
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 900;
    
    }
    .aim div{
      font-size: 15px;
      font-weight: 500;
    }
  }

  .loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
  }