.articles-container {
    box-sizing: border-box;
    padding: 20px 10px;
    height: 100%;
}

.articles{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.articles h2 {
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 20px;
}

.article-new-button{
    padding: 8px 14px;
    background-color: #1a8fb3;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.article-new-button:hover{
    background-color: #156a84;
}