/* Header.css */

/* Base styles */
.header {
    background-color: #007bff; /* Navbar background color */
    color: #fff; /* Text color */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav-logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: inherit; /* Inherit text color from parent */
}

ul {
    list-style-type: none; /* Remove default list styles */
    display: flex;
    margin: 0;
    padding: 0;
}

li {
    margin-right: 20px; /* Adjust spacing between menu items */
}

.button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.login-button {
    padding: 10px 20px;
    border: none;
    background-color: #fff; /* Button background color */
    color: #007bff; /* Button text color */
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #f0f0f0; /* Button background color on hover */
}

/* Dropdown menu styles */
.dropdown {
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #70a9e6;
    min-width: 120px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #0056b3;
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .nav-logo {
        font-size: 20px; /* Reduce font size for smaller screens */
    }

    ul {
        display: none; /* Hide the list items on smaller screens */
    }

    .dropdown {
        display: block; /* Show the dropdown container on smaller screens */
    }
}
