.navbar {
    background-color: #333; 
    color: #fff; 
    padding: 10px 20px; 
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
  }
  
  .navbar h1 {
    margin: 0; 
    font-size: 30px;
  }
  
  .btns button {
    background-color: #007bff;
    color: #fff; 
    border: none; 
    padding: 8px 16px; 
    cursor: pointer; 
    border-radius: 4px; 
  }

  @media (max-width: 600px) {
    .btns button {
      font-size: 14px; 
      padding: 4px 8px;
    }
    .navbar h1{
        font-size: 20px;
    }
  }