/* UserComponent.css */
.user-component {
    margin: 20px;
    box-sizing: border-box;
}

.table-container {
    overflow-x: auto;
    box-sizing: border-box;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: var(--admin-table-head-color);
    color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
    padding-left: 20px;
}

th:last-child,
td:last-child {
    padding-right: 20px;
}



/* Alternating row colors */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Remove hover effect on table head */
thead tr:hover {
    background-color: transparent;
}

.admin-add-btn {
    margin-bottom: 20px;
}

.admin-add-btn button {
    background-color: var(--admin-button-color-primary);
    color: var(--admin-button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-add-btn button:hover {
    background-color: var(--admin-button-color-hover);
}


.admin-delete-btn {
    background-color: var(--admin-button-color-secondary);
    color: var(--admin-button-text-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-delete-btn:hover {
    background-color: var(--admin-button-color-primary);
}

.user-link {
    color: inherit;
    text-decoration: none;
}

.user-link:hover {
    text-decoration: underline;
    color: lightblue;
}


.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.no-data p {
    color: black;
    font-weight: 600;
    font-size: 20px;
}