:root{
    --department-nav-bar-color: #1a8fb3;
    --department-side-bar-color: #1a8fb3;
    --department-button-color-primary: #1a8fb3;
    --department-button-color-secondary: #1a8fb3;
    --department-button-color-hover: #177c9b;
}