.admin-navbar {
  background-color: var(--admin-nav-bar-color);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}

.admin-nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.admin-nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.left-admin-nav-link {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.left-admin-nav-link h3 {
  font-size: 25px;
  color: var(--admin-nav-bar-text-color)
}


.menu-bars {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
}

.admin-nav-logout {
  margin-right: 2rem;
  padding: 10px 20px;
  border: 2px solid var(--admin-nav-bar-color);
  border-radius: 20px;
  background-color: #fff;
  /* Button background color */
  color:var(--admin-button-color-primary);
  /* Button text color */
  font-size: 16px;
  cursor: pointer;
}

.admin-nav-logout:hover {
  background-color: var(--admin-nav-bar-button-color-hover);
  /* Button background color on hover */
}



.admin-nav-menu {
  background-color: var(--admin-side-bar-color);
  width: 250px;
  height: 100vh; /* Set the initial height to 100vh */
  display: flex;
  justify-content: start;
  align-items: start;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  overflow-y: auto; /* Add this line to enable scrolling */
}

.admin-nav-menu.active {
  left: 0;
  transition: 350ms;
  position: fixed; /* Change from absolute to fixed */
  z-index: 10;
  height: 100%; /* Set the height to 100% */
}

.admin-nav-menu-items {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}





.admin-nav-text {
  display: flex;
  justify-content: start;
  /* align-items: center; */
  padding: 8px 0px 8px 40px;
  list-style: none;
  height: 60px;
}

.admin-nav-text a {
  text-decoration: none;
  color: var(--admin-nav-bar-text-color);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.admin-nav-text a:hover {
  background-color:var(--admin-button-color-primary);
}

.admin-nav-menu-items {
  width: 100%;
}

.admin-nav-toggle {
  background-color:var(--admin-side-bar-color);
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.admin-nav-right h3{
  color: var(--admin-nav-bar-text-color);
}

span {
  margin-left: 16px;
}

@media (max-width: 600px) {
  .left-admin-nav-link {
    display: none;
  }

  .left-admin-nav-link h3 {
    font-size: 20px;
  }

  .admin-nav-right {
    gap: 5px;
  }

  .admin-nav-right h3 {
    font-size: 15px;
  }

  .admin-menu-bars {
    margin-left: 1.5rem;
    font-size: 1.5rem;
    background: none;
  }


  .admin-nav-logout {
    margin-right: 2rem;
    padding: 8px 10px;
    border: none;
    background-color: var(--admin-nav-bar-button-color);
    /* Button background color */
    color: var(--admin-button-color-primary);
    /* Button text color */
    font-size: 12px;
    cursor: pointer;
  }
}