.complaint-details-container {
    box-sizing: border-box;
    padding: 20px;
}

.heading-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 5px;
}
.heading-btn button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.heading-btn button:hover{
    cursor: pointer;
    background-color: #3e8e41;
}

.details-back-button {
    margin-bottom: 20px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 20px;
}

.heading {
    font-weight: 900;
    font-size: 25px;
    margin-bottom: 10px;
}

.details {
    margin-bottom: 30px;
}

.details p {
    margin-bottom: 8px;
}

.image-box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.image-box-heading{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 20px;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.images img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.images img:hover {
    transform: scale(1.05);
    cursor: pointer;
}



.details {
    overflow-x: auto;
    box-sizing: border-box;
    max-width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #4CAF50;
    color: white;
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:first-child,
td:first-child {
    padding-left: 20px;
}

th:last-child,
td:last-child {
    padding-right: 20px;
}



/* Alternating row colors */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

@media (max-width: 768px) {
    .complaint-details-container {
        padding: 10px;
    }

    .heading {
        font-size: 20px;
    }

    .image-box-heading{
        font-size: 20px;
    }

    .images img {
        width: 100%;
        margin-right: 0;
    }
}
